html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
}
a {
    display: inline-block;
    text-decoration: none;
    @include text // color: #fff;
;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}
.container__fluid {
    max-width: 100%;
    margin: auto;
    padding: 0 50px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
.title-one {
    @include title;
    text-transform: uppercase;
    color: #fff
}
.title-two {
    @include text;
    color: #fff
}

//button
.button::before,
.button::after {
    position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba($orange, 0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.button::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.button:hover::before,
.button:hover::after,
.button:focus::before,
.button:focus::after {
	opacity: 1;
	transform: translateX(-50%) translateY(-50%) scale(1);
}
// .active{
//     color: $orange !important;
// }
// .mov{
//     display: none !important;
//     animation: none !important;
// }
