@import "vars";
@import "global";
@import "fonts";
//preloader
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg;
    transition: all 0.5s;
    opacity: 1;
}
.preloader-inner {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $orange;
    animation: preloader-inner-spin 2s linear infinite;
}
.preloader-inner:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $title;
    animation: preloader-inner-spin 3s linear infinite;
}
.preloader-inner:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $yellow;
    animation: preloader-inner-spin 1.5s linear infinite;
}
.preloader-remove {
    display: none;
    opacity: 0;
}
@keyframes preloader-inner-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
//start logo
#home {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #222;
    // height: 100%;
    // background-size: 100% 100%;
    // background-position: 50% 50%;
    // padding: 0;
}
.logo-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.logotype {
    position: relative;
    animation-name: fade_logo;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.logo__text {
    font-size: 60px;
    color: $orange;
    @include logo;
    padding: 15px 0 0 15px;
    span {
        position: absolute;
        top: 39px;
        left: 34px;
    }
}

@keyframes fade_logo {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.45;
    }
    40% {
        opacity: 0.75;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}
.logo__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    transform: translate(0%, -50%);
    padding: 0 15px;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #fff;
    font-weight: 300;
    h1 {
        font-size: 40px;
        font-weight: 800;
    }
}

// -----
.iconbox {
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 20px;
}
.iconbox-icon {
    margin: 0 0 15px;
    font-size: 32px;
    color: #222;
}

.iconbox-title {
    margin: 0 0 15px;
    padding: 0;
}
//end logo

//start header
.header {
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    width: 100%;
    z-index: 998;
}
.header__inner {
    padding: 10px 20px;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 22px;
    font-weight: 700;
    font-family: Halimun, Raleway, "Times New Roman", Times, sans-serif;
}
.menu__list {
    padding-left: 30px;
    text-align: center;
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
}
.menu__list li a {
    text-transform: uppercase;
    @include text;
    font-size: 13px;
    &:hover,
    &:focus {
        outline: 0;
        color: $orange;
        text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05),
            -10px 20px 5px rgba(0, 0, 0, 0.05);
    }
}
.menu__list li.active,
.menu__list li.active a {
    outline: 0;
    color: $orange;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}
.header__logo:hover {
    color: $title;
}
// .header {
//     border-bottom: 1px solid #f5f5f5;
//     position: relative;
//     width: 100%;
//     z-index: 998;

// }

// .navbar-custom {
//     @include text;
//     border: 0;
//     border-radius: 0;
//     margin: 0;
//     font-size: 11px;
// }

// .navbar-custom,
// .navbar-custom .dropdown-menu {
//     background: #fff;
//     padding: 0;
// }

// .navbar-custom .navbar-brand,
// .navbar-custom .navbar-nav > li > a,
// .navbar-custom .navbar-nav .dropdown-menu > li > a {
//     font-size: 11px;
//     letter-spacing: 1px;
//     color: #222;
// }

// .navbar-custom .nav li.active,
// .navbar-custom .nav li a:hover,
// .navbar-custom .nav li a:focus,
// .navbar-custom .navbar-nav > li.active a {
//     background: none;
//     outline: 0;
//     color: $orange;
//     text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 2 10px 20px 5px rgba(0, 0, 0, 0.05),
//         3 -10px 20px 5px rgba(0, 0, 0, 0.05);
// }

// .navbar-custom .navbar-brand {
//     font-size: 22px;
//     font-weight: 700;
//     font-family: Halimun, Raleway, "Times New Roman", Times, sans-serif;
// }

// .navbar-custom .dropdown-menu {
//     border: 0;
//     border-top: 2px solid #e7746f;
//     border-radius: 0;
// }

// .navbar-custom .dropdown-menu > li > a {
//     text-transform: uppercase;
//     padding: 10px 20px;
// }

// .navbar-custom .nav .open > a,
// .navbar-custom .dropdown-menu > li > a:hover,
// .navbar-custom .dropdown-menu > li > a:focus {
//     background: #f5f5f5;
// }

// .navbar-custom .navbar-toggle .icon-bar {
//     background: #222;
// }
//end header
//start sevice
#services {
    background-color: $title;
    @include title;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service__info {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.service__title {
    max-width: 308px;
    font-size: 100px;
    text-transform: uppercase;
    color: $orange;
}
.service__quote {
    align-self: flex-end;
    max-width: 500px;
    font-size: 35px;
    opacity: 0.8;
    margin-right: 100px;
}
.service__quite-author {
    align-self: flex-end;
    font-size: 18px;
    color: $orange;
    margin: 10px 40px 0 0;
}
.service_description {
    align-self: center;
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 40px;
}
.service__inner {
    justify-content: space-between;
    align-items: center;
    color: $text;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
.service__inner-iconbox {
    background: #fff;
    // border-bottom: 1px solid #d4d4d4;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 20px;
    width: 330px;
    border-radius: 4px;
}
.iconbox-icon {
    margin: 0 0 15px;
    font-size: 32px;
    color: $orange;
}

.iconbox-title {
    margin: 0 0 15px;
    padding: 0;
    @include title;
    text-transform: uppercase;
    font-size: 23px;
}
.iconbox-desc {
    @include text;
    span {
        font-weight: 700;
    }
}
.iconbox__list {
    padding: 0 10px;
    @include text;
    text-align: left;
    li {
        list-style: outside;
    }
}
.iconbox-disign {
    margin-bottom: 3em;
}
.iconbox__web {
    margin-top: 11em;

    background: linear-gradient(
        153deg,
        rgba(255, 238, 50, 1) 5%,
        rgba(255, 209, 0, 1) 25%,
        rgba(248, 204, 1, 1) 50%,
        rgba(32, 32, 32, 1) 97%
    );
}
.iconbox__help {
    margin-bottom: 11em;
    background: linear-gradient(
        153deg,
        rgba(255, 238, 50, 1) 5%,
        rgba(255, 209, 0, 1) 25%,
        rgba(248, 204, 1, 1) 50%,
        rgba(32, 32, 32, 1) 97%
    );
}
.disign__item {
    background: linear-gradient(
        153deg,
        rgba(255, 238, 50, 1) 5%,
        rgba(255, 209, 0, 1) 25%,
        rgba(248, 204, 1, 1) 50%,
        rgba(32, 32, 32, 1) 97%
    );
}
.disign__item .iconbox-text .iconbox-title {
    color: #fff;
}
.disign__item .iconbox-text .iconbox-desc {
    color: #fff;
}
.icon-magic-wand{
    color: $title;
}

//end service
//scroll to top
.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: rgba(235, 235, 235, 0.8);
    color: $orange;
}
//scroll Down
.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    z-index: 10;
    text-align: center;
}
.scroll-down span {
    position: relative;
    color: #fff;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

@import "media";
